@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

:root {
    --font-title: 'Oswald', sans-serif;
    --font-text: 'Source Sans Pro', sans-serif;
}

/*abre um espaço entre cada estrofe*/
.margin-top-10 {padding-top: 10px;}
.margin-bot-10 {padding-bottom:10px;}

/* Tipografias */
/* muda só o título "parallax" */
#parallax-world-of-ugg h1 {
    font-family: var(--font-title);
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    color: black;
    padding: 0;
    margin: 0;
}

/*titulos que ficaram no centro do parallax*/
#parallax-world-of-ugg h2 {
    font-family: var(--font-title);
    font-size: 70px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    z-index: 10;
    opacity: .9;
}

/* muda só o título "let's do some" */
#parallax-world-of-ugg h3 {
    font-family: var(--font-title);
    font-size: 14px;
    line-height: 0;
    font-weight: 400;
    letter-spacing: 8px;
    text-transform: uppercase;
    color: black;
}

#parallax-world-of-ugg p {
    font-family: var(--font-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px; /*altura de uma linha para outra*/
}

/*span primeira letra*/
.first-character {
    font-weight: 400;
    float: left;
    font-size: 84px;
    line-height: 64px;
    /*padding: 4px 8px 0px 3px;*/
    padding-top: 4px;
    padding-right: 8px; 
    padding-left: 3px;
    font-family: var(--font-text);
}

.rj {color: #3b8595;}
.sp {color: #3d3c3a;}
.am {color: #c48660;}

/* seção - titulo */
#parallax-world-of-ugg .title {
    background: white;
    padding: 60px;
    margin: 0 auto;
    text-align: center;
}

#parallax-world-of-ugg .title h1 {
    font-size: 35px;
    letter-spacing: 8px;
}

div.theme button {
    align-self: flex-end;
    font-family: var(--font-title);
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background: #262629;
    color: white;
    border: 2px solid #26262956;
    margin-bottom: 0.5rem;
    float: right;
}

/* seção - bloco */
#parallax-world-of-ugg .block {
    background: white;
    padding: 60px;
    width: 820px;
    margin: 0 auto;
    text-align: justify;
}

#parallax-world-of-ugg .block-gray {
    background: #f2f2f2;
    padding: 60px;
}

#parallax-world-of-ugg .section-overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.70;
}

/*primeiro parallax*/
#parallax-world-of-ugg .parallax-one {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/6580703/pexels-photo-6580703.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*segundo parallax*/
#parallax-world-of-ugg .parallax-two {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/72479/pexels-photo-72479.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/*terceiro parallax*/
#parallax-world-of-ugg .parallax-three {
    padding-top: 200px;
    padding-bottom: 200px;
    overflow: hidden;
    position: relative;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1761279/pexels-photo-1761279.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Extras */
/**************************/
#parallax-world-of-ugg .line-break {
    border-bottom: 1px solid black;
    width: 150px;
    margin: 0 auto;
}

#footer {
    font-family: var(--font-text);
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.452);
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #F55D0B;
    text-decoration: underline;
}

/* dark mode theme */
/*************************/

.dark {
    background: #262629;
}

.dark #parallax-world-of-ugg .title {
    background-color: #262629;
    color: white;
}

.dark #parallax-world-of-ugg h1 {
    color: white;
}

.dark #parallax-world-of-ugg h3 {
    color: white;
}

.dark #parallax-world-of-ugg .block {
    background: #262629;
    color: white;
}

.dark #parallax-world-of-ugg .line-break {
    border-bottom: 1px solid white;
}

.dark .rj {
    color: #FA8823;
}

.dark .sp {
    color: #EAE7F6;
}

.dark .am {
    color: #0CEFF5;
}

.dark .theme button {
    background: white;
    color: black;
    border: 2px solid #f7f7f7;
}

.dark #footer {
    color: white;
}

.dark a {
    color: white;
}

.dark a:hover {
    color: #F55D0B;
    text-decoration: underline;
}

/* media queries */

@media screen and (max-width: 767px) {
    #parallax-world-of-ugg .block {
        padding: 30px;
        width: 420px;}
    #parallax-world-of-ugg h2 {
        font-size: 30px;
    }

    #parallax-world-of-ugg .parallax-one, #parallax-world-of-ugg .parallax-two,
    #parallax-world-of-ugg .parallax-three {
        padding-top: 100px; padding-bottom: 100px;
    }

    #footer {
        padding: 15px;
    }

    #parallax-world-of-ugg #credit {
        font-size: 20px;
    }
}

@media screen and (max-width: 479px) {
    #parallax-world-of-ugg .block {
        padding: 30px 15px;
        width: 290px;}
}